.question {
  padding: 30px 0 100px;
}

.question__wrapper {
  max-width: 800px;
}

.question__title {
  padding-bottom: 20px;
}

.question__ask {
  box-shadow: 0px 15px 20px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 60px;
}