.contact {
  position: relative;
}
.info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: $color-light;
  padding: 30px;
  padding-bottom: 0;
  border: 1px solid $color-red;
  border-radius: 10px;
  max-width: 600px;
}
.info__content{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.info__left, 
.info__right {
  width: 48%;
}
.info__item {
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.info__description {
  font-size: 13px;
}
.info_text {
  font-weight: 700;
  a {
    text-decoration: none;
    color: $color-text;
  }
}
.info__item_left {
  flex-direction: column;
  margin-left: 30px;
}
.social_info {
  padding-top: 10px;
  margin-left: -20px;
}