.promo {
  padding: 60px 0 370px;
}
.promo__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.promo__title {

}
.promo__img {
  width: 1000px;
  position: absolute;
  right: -180px;
  top: 40px;
}


