.what {
  padding: 50px 0;
}
.what__text {
  width: 49%;
  text-align: justify;
}
.text__what {
  margin-top: 0;
}

.what__advantage {
  width: 40%;
}
.advantage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15px;
}