.works {
  padding: 50px 0;
}
.works__content {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work {
  position: relative;
  width: 370px;
  height: 230px;
  border-radius: 4px;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 30px;
  
  &:hover {
    .work__content {
      background: rgba(255, 17, 25, 0.6);
      height: 165px;
    }
  }
  &_1 {
    background-image: url(../img/works/1.jpg);
  }
  &_2 {
    background-image: url(../img/works/2.jpg);
  }
  &_3 {
    background-image: url(../img/works/3.jpg);
  }
  &_4 {
    background-image: url(../img/works/4.jpg);
  }
  &_5 {
    background-image: url(../img/works/5.jpg);
  }
  &_6 {
    background-image: url(../img/works/6.jpg);
  }
}
.work__content {
  background: rgba(0,0,0,0.6);
  position: absolute;
  width: 100%;
  height: 95px;
  bottom: 0;
  padding: 25px;
  @extend %transition;
}
.work__text {
  color: $color-light;
  font-size: 2.6rem;
  padding-bottom: 30px;
}
.work__button {
  padding-top: 30px;
  text-align: center;
}