html {
  font-size: 10px;
}
body {
  @extend %font;
  @include font (1.5rem, 400);
  color: $color-text;
}

h1 {
  @include font (6rem, 400);
}
h2 {
  @include font (5rem, 700);
  text-align: center;
}
h3 {
  @include font (1.7rem, 700);
  text-transform: uppercase;
  padding-bottom: 20px;
}

.title {
  position: relative;
  span {
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
    color: #e8e8e8;
    @include font (9.1rem, 700);
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
  }
  &-small {
    position: relative;
    z-index: 10;
  }
}
// Contact
.title_contact {
  span {
    top: -14px;
    @include font (4.5rem, 700);
  }
  &-small {
    @include font (3rem, 700);
  }
}