.ico {
  cursor: pointer;
  display: inline-block;
  background-size: cover;
  width: 20px;
  height: 20px;
  filter: invert(25%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(96%) contrast(89%);
}
.ico_vk {
  background-image: url(../img/icons/vk.svg);
}
.ico_inst {
  background-image: url(../img/icons/instagram.svg);
}
.ico_facebook {
  background-image: url(../img/icons/facebook.svg);
}
