.ico {
  display: inline-block;
  background-size: cover;
  width: 20px;
  height: 20px;
  filter: invert(25%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(96%) contrast(89%);
}
.ico_vk {
  background-image: url(../img/icons/vk.svg);
}
.ico_inst {
  background-image: url(../img/icons/instagram.svg);
}
.ico_facebook {
  background-image: url(../img/icons/facebook.svg);
}


.ico_advantage {
  width: 50px;
  height: 40px;
  filter: none;
  margin-right: 25px;
}
.ico_chip {
  background-image: url(../img/icons/what/fast.svg);
}
.ico_pedal {
  background-image: url(../img/icons/what/pedals.svg);
}
.ico_gearbox {
  background-image: url(../img/icons/what/shifter.svg);
  width: 74px;
}
.ico_fuel {
  background-image: url(../img/icons/what/fuel.svg);
  width: 40px;
}
.ico_conditioner {
  background-image: url(../img/icons/what/conditioner.svg); width: 60px;
}
.ico_speed {
  background-image: url(../img/icons/what/diagram.svg);
}


.ico_info {
  margin-right: 10px;
}
.ico_phone {
  background-image: url(../img/icons/phone.svg);
}
.ico_whatsapp {
  background-image: url(../img/icons/whatsapp.svg);
  margin-top: -3px;
  margin-left: -5px;
  width: 25px;
  height: 25px;
}
.ico_pin {
  background-image: url(../img/icons/pin.svg);
  width: 32px;
}
.ico_clock {
  background-image: url(../img/icons/clock.svg);
}
.ico_footer {
  filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(208deg) brightness(104%) contrast(102%);
}
// About Us
.ico__about {
  filter: none;
  margin-right: 25px;
  width: 40px;
  height: 40px;
}
.ico_experience {
  background-image: url(../img/icons/about/experience.svg);
}
.ico_personal {
  background-image: url(../img/icons/about/man.svg);
}
.ico_guarantee {
  background-image: url(../img/icons/about/guarantee.svg);
}
.ico_action {
  background-image: url(../img/icons/about/car.svg);
}
.ico_dealer {
  background-image: url(../img/icons/about/not-touch.svg);
}


