.accordions {
  padding-top: 50px;
  max-width: 100%;
  text-align: left;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);

  &_model {
    box-shadow: none;
  }
}
.accordion {
  transition: all .3s;
  margin-top: -1px;

  &__top {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.5rem;
    border: 1px solid $color-red;
    font-weight: 700;
    padding: 25px 20px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  &__status {
    position: relative;
    right: 15px;
    &:before, 
    &:after {
      position: absolute;
      content: ' ';
      height: 2px;
      width: 15px;
      background-color: $color-red;
      @extend %transition;
    }
    &:after {
      transform: rotate(-90deg);
    }
  }
  &__title {
    width: 95%;
  }
  &__content {
    height: 0px;
    overflow: hidden;
    @extend %transition;
  }
  &__text {
    padding: 25px 25px;
    border: 1px solid $color-red;
    border-radius: 5px;
    margin-top: -1px;
    text-align: justify;
    line-height: 25px;
  }

  &_model {
    &__top {
      border: 0;
      background-color: $color-additional;
      border-radius: 0;
    }
    
    &__status {
      right: 40px;

      &:before, 
      &:after {
        transform: rotate(-140deg);
        height: 3px;
        background-color: $color-text;
      }
      &:after {
        transform: rotate(-45deg);
        right: -25px;
      }
    }
    &__title {
      width: 100%;
      text-align: center;
    }
    &__content {
      background-color: $color-primary;
    }
    &__text {
      border: 0;
      border-radius: 0;
    }
  }
}
.accordion_opened {
  .accordion__status {
    &:after {
      transform: rotate(0deg);
    }
  }
  .accordion__content {
    height: 100px;
  }

  .accordion_model__status {
    &:before {
      transform: rotate(-225deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}
