$color-light: #ffffff;
$color-additional: #e8e8e8;
$color-primary: #f5f5f5;

$color-text: #444444;
$color-main: #000000;
$color-little: #748da2;
$color-span: #0299d3;
$color-detailed: #666666;
$color-hovered: #ff9900;

$color-red: #ff1119;
$color-blue: #2dade2;
$color-youtube: #e1f9ff;

$content-width: 1170px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;




