$color-primary: #0a93d4;
$color-additional: #14a0db;
$color-light: #ffffff;

$color-text: #000000;
$color-main: #161c28;
$color-little: #748da2;
$color-span: #0299d3;
$color-detailed: #666666;
$color-hovered: #ff9900;

$color-orange: #ff8e00;
$color-blue: #2dade2;
$color-youtube: #e1f9ff;

$content-width: 1170px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;




