*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

[hidden] {
  display: none;
}

section, main, footer, header, article {
  display: block;
}

html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.work__content, .navigation__link:after, .social__link span, .heptagon_service, .button_red, .button {
  transition: all 0.3s ease-out;
}

body {
  font-family: "Gotham", Verdana, sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  color: #444444;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
}

h2 {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 2.3rem;
  font-weight: 700;
}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.button {
  padding: 14px 25px 14px;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}
.button_empty {
  background: #ffffff;
  border: 1px solid #D7D7D7;
}
.button_empty:hover {
  background: #ff1119;
  border: 1px solid #ff1119;
  color: #ffffff;
}
.button_red {
  padding: 9px 25px 9px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border: 1px solid #000000;
}
.button_red:hover {
  background: black;
}

.ico {
  cursor: pointer;
  display: inline-block;
  background-size: cover;
  width: 20px;
  height: 20px;
  filter: invert(25%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(96%) contrast(89%);
}

.ico_vk {
  background-image: url(../img/icons/vk.svg);
}

.ico_inst {
  background-image: url(../img/icons/instagram.svg);
}

.ico_facebook {
  background-image: url(../img/icons/facebook.svg);
}

.ico_advantage {
  width: 50px;
  height: 40px;
  filter: invert(15%) sepia(93%) saturate(4731%) hue-rotate(351deg) brightness(99%) contrast(102%);
  margin-right: 25px;
}

.ico_chip {
  background-image: url(../img/icons/fast.svg);
}

.ico_pedal {
  background-image: url(../img/icons/pedals.svg);
  height: 38px;
}

.ico_gearbox {
  background-image: url(../img/icons/transmission.svg);
  width: 76px;
  height: 38px;
}

.ico_fuel {
  background-image: url(../img/icons/fuel.svg);
  width: 40px;
  height: 40px;
}

.ico_conditioner {
  background-image: url(../img/icons/conditioner.svg);
  width: 55px;
}

.ico_speed {
  background-image: url(../img/icons/diagram.svg);
}

.heptagon {
  width: 132px;
  height: 132px;
  filter: drop-shadow(0px 0px 2px rgba(34, 60, 80, 0.5));
}
.heptagon__clip {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.heptagon_service {
  filter: drop-shadow(0px 12px 9px rgba(34, 60, 80, 0.2));
}
.heptagon_service:hover {
  transform: translateY(5px);
  filter: drop-shadow(0px 0px 1px rgba(34, 60, 80, 0.2));
}
.heptagon_service__clip {
  position: relative;
}

.heptagon_service-litle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
}
.heptagon_service-litle__clip {
  position: relative;
}
.heptagon_service-litle__clip img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heptagon_social {
  filter: none;
  width: 163px;
  height: 163px;
  margin-right: -18px;
}
.heptagon_social__clip {
  position: relative;
  background-color: #b1ddfd;
}

.heptagon_social-nested {
  filter: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
}
.heptagon_social-nested__clip {
  position: relative;
}
.heptagon_social-nested__clip img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heptagon_m-social {
  filter: none;
  width: 43px;
  height: 43px;
}
.heptagon_m-social__clip {
  position: relative;
  background-color: #b1ddfd;
}

.heptagon_m-social-nested {
  filter: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.heptagon_m-social-nested__clip {
  position: relative;
}
.heptagon_m-social-nested__clip img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heptagon_min-social {
  filter: none;
  width: 20px;
  height: 20px;
}
.heptagon_min-social__clip {
  position: relative;
  background-color: #b1ddfd;
}

.heptagon_min-social-nested {
  filter: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
}
.heptagon_min-social-nested__clip {
  position: relative;
}
.heptagon_min-social-nested__clip img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.point {
  width: 100%;
  height: 70px;
  filter: drop-shadow(0px 0px 0px rgba(34, 60, 80, 0.2));
}
.point__clip {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #e1f9ff;
  clip-path: polygon(97% 0, 100% 50%, 97% 100%, 3% 100%, 0% 50%, 3% 0%);
}

.point__content {
  display: flex;
  align-items: center;
  position: absolute;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.point__text {
  padding-left: 15px;
}

.list {
  max-width: 100%;
  padding: 0;
  text-align: left;
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px rgba(34, 60, 80, 0.2);
}
.list li {
  display: none;
  list-style-type: none;
  border: 1px solid #ff1119;
  padding: 5px 0;
  margin-top: -1px;
  text-align: justify;
}
.list__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2.5rem;
  border: 1px solid #ff1119;
  padding: 5px 0;
  text-transform: uppercase;
}
.list_question {
  box-shadow: none;
  margin: 0;
  margin-top: -1px;
}
.list_question li {
  padding: 25px 25px;
  text-transform: none;
}
.list_question__title {
  font-weight: 700;
  padding: 25px 20px;
  border-radius: 5px;
}

.close {
  position: relative;
  width: 15px;
  height: 15px;
  padding-left: 40px;
  margin-right: 10px;
}

.close:before, .close:after {
  position: absolute;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #ff1119;
}

.close:after {
  transform: rotate(-90deg);
}

.wrapper {
  max-width: 1170px;
  margin: auto;
}

.header {
  padding: 30px 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right {
  width: 70%;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  margin-left: 20px;
  text-decoration: none;
}

.social__link span:hover {
  transform: translateY(-5px);
}

.phone {
  font-weight: 700;
}
.phone a {
  text-decoration: none;
  color: #444444;
}

.time {
  font-size: 1.3rem;
  font-weight: 700;
  width: 20%;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 23%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 48%;
}

.promo {
  padding: 60px 0 370px;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.promo__title span {
  font-weight: 700;
  color: #ff1119;
}

.promo__img {
  width: 1000px;
  position: absolute;
  right: -180px;
  top: 40px;
}

.what {
  padding: 50px 0;
}

.what__title {
  position: relative;
  padding-bottom: 20px;
}
.what__title span {
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  color: #e8e8e8;
  font-size: 9.1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}
.what__title .title-what {
  position: relative;
  z-index: 10;
}

.text__what {
  margin-top: 0;
}

.what__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 30px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}

.what__text {
  width: 49%;
  text-align: justify;
}

.what__advantage {
  width: 40%;
}

.advantage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0;
  margin: 0;
}

.navigation__link {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
}
.navigation__link:after {
  content: "";
  width: 0;
  height: 2px;
  background: #ff1119;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  margin: 0 auto;
}
.navigation__link:hover:after {
  width: 100%;
}

.works {
  padding: 50px 0;
}

.works__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work {
  position: relative;
  width: 370px;
  height: 230px;
  border-radius: 4px;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 30px;
}
.work:hover .work__content {
  background: rgba(255, 17, 25, 0.6);
  height: 165px;
}
.work_1 {
  background-image: url(../img/works/1.jpg);
}
.work_2 {
  background-image: url(../img/works/2.jpg);
}
.work_3 {
  background-image: url(../img/works/3.jpg);
}
.work_4 {
  background-image: url(../img/works/4.jpg);
}
.work_5 {
  background-image: url(../img/works/5.jpg);
}
.work_6 {
  background-image: url(../img/works/6.jpg);
}

.work__content {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 95px;
  bottom: 0;
  padding: 25px;
}

.work__text {
  color: #ffffff;
  font-size: 2.6rem;
  padding-bottom: 20px;
}

.contact {
  position: relative;
}

.info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
  padding: 30px;
  border: 1px solid #ff1119;
  border-radius: 10px;
}

.info__title {
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

.info__content {
  display: flex;
  justify-content: space-between;
}

.info__left,
.info__right {
  width: 47%;
}

.info__item {
  padding-bottom: 20px;
}

.info__description {
  font-size: 13px;
  padding-bottom: 5px;
}

.info_text {
  font-weight: 700;
}
.info_text a {
  text-decoration: none;
  color: #444444;
}

.question {
  padding: 30px 0 100px;
}

.question__wrapper {
  max-width: 800px;
}

.question__title {
  padding-bottom: 20px;
}

.question__ask {
  box-shadow: 0px 15px 20px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 60px;
}

.footer {
  padding: 40px 0;
}

/*# sourceMappingURL=style.css.map */
